// TEXT COLORS
$font-gray50: rgba(255, 255, 255, 0.9);
$font-gray100: rgba(255, 255, 255, 0.7);

// BACKGROUND COLORS
$bg-gray0: #ffffff;
$bg-gray50: #f6f6f6;

// :export {
//   // TEXT COLORS
//   font-gray50: $font-gray50;
//   font-gray100: $font-gray100;

//   // BACKGROUND COLORS
//   bg-gray0: $bg-gray0;
//   bg-gray50: $bg-gray50;
// }
