.LinkButtonPrimary {
  display: inline-flex;
  border-radius: 4rem;
  align-items: center;
  justify-content: center;
  color: #555555;

  > a {
    text-decoration: none;
    color: #111111;
  }

  &.size-small {
    height: 1.7rem;
    font-size: 0.75rem;
    padding: 0 0.75rem;
    min-width: 5rem;
  }
  &.size-normal {
    height: 2.5rem;
    font-size: 0.9rem;
    padding: 0 1.2rem;
    font-weight: 550;
    min-width: 8rem;
  }
  &.size-large {
    height: 3.3rem;
    font-size: 1rem;
    padding: 0 1.6rem;
    font-weight: 550;
    min-width: 8rem;
  }
  &:hover {
    background-color: #dfdfdf !important;
  }
}
