.DevicePlatforms {
  background-color: #fafafa;
  height: 40rem;
  display: flex;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}
